* {
    margin: 0;
    padding: 0;
}

body {
    width:1400px;
    height: 100%;
    margin:0 auto;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: #533738;
    background-color: #E5E5E5;
    background-image: url("../img/header.png");
    background-repeat:no-repeat;
    background-position: top;
    background-size: 1400px 715px;
    
}

/* ----------------Блок header------------------*/
header {
    width:1400px;
    height: 85px;
    display: flex;
    align-items:center;

}

.nav-header {
    font-size: 16px;
    line-height: 40px;
    display: flex;
    justify-content: space-between; 
}

.logo-header {
    margin-left:99px;
    margin-right: 89px;
    display: flex;
    align-items:center;
}   

.img-logo{
    height:25px;
    width:25px;
    background-image:url("../img/logo.png");
    background-repeat:no-repeat; 
}

.nav-header a {
    text-decoration: none;
    color:#533738;
}

.list-menu-header{
    list-style: none;
    display: flex;  
}

.li-menu-header:not(:last-of-type) {
    margin-right:26px;
}

.list-menu-header li:hover {
    color:#2c80e0;
    text-decoration:underline;

}

.tel-header {
    margin-left: 46px; 
}
/* -----------------Блок main---------------*/
.main {
    width:1400px;
    height: 630px;
}

.text-main {
    width:534px;
    height: 100%;
    max-height: 500px;
    margin-left: 185px;
    padding-top: 67px;  
}

h1 {
    font-size: 50px;
    line-height: 62px;
    margin-bottom: 24px;
    font-weight: 400;
    width: 493px;
}

h2 {
    font-size: 40px;
    line-height: 50px;
    text-align: center;
    text-transform:uppercase;
    font-weight: 400;
}

.h2-about-us {
    text-align: center;
    padding-top:65px;
}

.text-main p {
    font-size: 18px;
    line-height: 30px;
    width: 493px;
}

.text-main a {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #533738;
    background-color: #CC8B86;
    text-decoration: none;
    padding: 24px 66px 25px 66px; 
}

.text-main a:hover {
    background-color: #cc726c;
}

.button-main {
    margin-top: 46px;
}

/* ---------------------Блок about-us------------------ */
.about-us {
    width:1400px;
    height: 914px;  
    margin:0 auto;
}

.box-about-us {
    height: 641px;
    width: 1400px;
}

.box-box-about-us {
    margin-top: 40px;
    display: flex;
    justify-content:center;
}

.text-about-us p {
    font-size: 18px;
    line-height: 30px;
    width: 528px;
    margin-left: 62px;
    margin-bottom: 20px;
}

.numbers-about-us {
    width: 1400px;
    height: 273px;
    background-color: #8D7370;
    display: flex;
    justify-content:space-evenly;
    align-items:center;
}

.box2-about-us {
    display: flex;
    align-items:center;
    flex-direction:column;
}

.box-figure-about-us {
    font-size: 50px;
    line-height: 62px;
    color: #FFFFFF;
    text-transform:uppercase;
    padding-bottom: 8px;
}

.box-text-about-us {
    font-weight: 500;
    font-size: 30px;
    line-height: 37px;
    color: #FFFFFF;
    text-transform:uppercase;
}
/* -----------------Блок slader------------------ */

.slaider {
    width: 1400px;
    height: 1229px;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
}

.slaider h2 {
    align-self:start;
    padding: 65px 0 40px 100px;
}

.slader-section {
    display:grid;
    grid-template-areas:"slaider1 slaider2"
                        "slaider3 slaider4";
    grid-template-columns:1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows:451px 451px;
    gap:30px 20px;
}

/*-------Слайд с hover эффектом----------*/
.hover-slaider {
    width:488px ;
    height:451px ;
    background-image: url("../img/image 55.png");
    background-repeat: no-repeat;
    grid-area:slaider1;
    grid-column:1/6;
}

.hover-slaider:hover {
    background-image: url("../img/hover.png");    
}

.img-slaider2 {
    grid-area:slaider2;
    grid-column:6/13;
}

.img-slaider3 {
    grid-area:slaider3;
    grid-column:1/8;
}

.img-slaider4 {
    grid-area:slaider4;
    grid-column:8/13;
}

.box-slaider a {
    font-weight: 500;
    font-size: 30px;
    line-height: 37px;
    color: #533738;
    text-decoration: none;
    display: block;
}

.box-slaider a:hover {
    color: #eb0d14;   
}

.box-slaider{
    padding: 40px 0 65px;
    display: flex;
    width: 296px;
    height: 37px; 
}

.arrow-slaider {
    width: 61px; 
    height:16px;
    background-image:url("../img/Arrow 3.png");
    background-repeat:no-repeat; 
    margin-top: 11px;
    margin-left: 10px;
    cursor:pointer;
}
/* -----------Блок comanda-rabota-------------- */
.comanda-rabota {
    height: 998px;
    margin: 0 auto;
    background: #E2C4BA;
}
/* --Блок comanda-- */

.comanda {
    width: 1020px;
    margin: 0 auto;
}

.comanda h2 {
    padding-top: 50px;
    padding-bottom: 40px;
}

.block-comanda {
    display: flex;
    justify-content:space-between;  
}

.text-img-comanda {
    display: flex;
    flex-direction:column;
    margin-right: 38px;
}

.text-comanda {
    width: 320px;
    display: block;
    padding-top: 10px;
    font-size: 18px;
    line-height: 30px;
    color: #533738;
}

/* --Блок rabota-- */

.rabota {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction:column;
}

.rabota h2 {
    margin-top: 35px;
    margin-bottom: 40px;
}

.block-rabota {
    display: flex;
    justify-content:space-between;
}

.text-img-rabota {
    display: flex;
    flex-direction:column;
    align-items:center;
    width: 285px;
}

.img-rabota {
    width: 70px;
    height: 70px;
    border-radius: 35px;
    background: #8D7370;
    margin-bottom: 20px;
    position:relative;
}

.text-span-rabota {
    font-weight: 500;
    font-size: 30px;
    line-height: 30px;
    color: #FFFFFF;
    position:absolute;
    top:20px;
    left: 25px;
}

.text-rabota {
    text-align: center;
    font-size: 18px;
    line-height: 30px;
    color: #533738;
}
/* -----------Блок reviews Отзывы-------------- */
.reviews {
    height:788px;
    width:1400px;
}

.reviews h2 {
    padding-top:65px ;
    padding-bottom:40px;
}

.box-reviews {
    display:flex;
    justify-content:center;  
}

.img-box-reviews { /*Стрелки*/
    position:relative;
    width: 70px;
    height: 70px;
    border-radius: 35px;
    background: #CC8B86;
    margin:236px 29px auto 29px;
}


.img-box-reviews:hover { /*Стрелки*/
    background: #c75a52;
    cursor:pointer; 
}

.img-arrow-reviews {
    width: 61px; 
    height:16px;
    background-image:url("../img/Arrow 2.png");
    background-repeat:no-repeat; 
    position:absolute;
    top:28px;
    left: 19px;
}

.img-arrow-reviews a{
    display: block;

}

.img2-arrow-reviews {
    width: 61px; 
    height:16px;
    background-image:url("../img/Arrow 1.png");
    background-repeat:no-repeat; 
    position:absolute;
    top:28px;
    left: 18px;
}

.slader-reviews {
    display:flex;
    justify-content:center; 
}

.text-reviews {
    width: 407px;
    max-height: 530px;
    padding-top: 80px;
    padding-right: 20px;
}
.text-reviews p {
    font-size: 18px;
    line-height: 30px;
    color: #533738;
    padding-bottom: 30px;
}

.uppercase {
    text-transform:uppercase;
}

.img-reviews img{
    display:flex;
    flex-direction:column;
    padding-bottom: 20px;
}
/* -----------Блок application Форма обратной связи-------------- */

.application {
    height: 624px;  
    width:1400px ; 
    background-color: #8D7370; 
    display:flex; 
}

.box-application {
    display:flex;
    flex-direction:column;
    width: 507px;
    height: 100%;
    margin-right: 20px;
    margin-left: 182px;
}

.box-application h2 {
    color: #FFFFFF;
    text-align: left;
    margin-top: 50px;
    margin-bottom: 24px;
}

.p-application {
    font-size: 18px;
    line-height: 30px;
    color: #FFFFFF;
    opacity: 0.6; 
    margin-bottom: 44px;
}

.text-input {
    font-size: 18px;
    line-height: 30px;
    color: #F6EDE9;
    background-color: #8D7370;
    border: none;
    border-bottom: 1px solid #fff;
    margin-bottom: 31px;
    font-family: 'Montserrat', sans-serif;
}

button {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;    
    color: #533738;
    background-color: #CC8B86;;
    height: 74px;
    width: 310px;
    border: none;
    font-family: 'Montserrat', sans-serif;
}

button:hover {
    background-color: #cc726c;
    cursor:pointer;
}

/* -----------Блок footer-------------- */
footer {
    height: 104px;
    width: 1400px;
    display:flex;
    align-items:center;
    font-size: 18px;
    line-height: 30px;
}

.text-tel-footer {
    padding-left: 100px;
}

.text-city-footer {
    padding-left: 42px;
}

.text-org-footer {
    padding-left: 379px;
}